.container {
    display: grid;
    /*grid-template-columns: repeat(7, 48px 124px 224px 102px 52px 80px 64px);*/
    grid-template-columns: 1fr repeat(2, 3fr) repeat(5, 1fr);
    grid-column-gap: 56px;
}

.tab_header_element {
    color: #757575;
    line-height: 24px;
}
