.nav_one_lvl {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text_header_one {
    font-size: 14px;
}

.location {
    margin-right: 24px;
}

.icon_loc {
    padding-right: 4px;
}

.social_media {
    display: flex;
}

.icon_social {
    padding-right: 8px;
}

.phone_number {
    margin-left: 24px;
}

.link_map {
    color: #6f15d2;
    font-weight: 500;
}