/* ----------Modale card----------- */

.modale_cart {
    background: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    width: 480px;
    position: absolute;
    top: 24px;
    right: 0;
    z-index: 1;
    padding: 24px 32px;
    display: none;
}

.modale_cart.active{
    display: block;
}

.itog_cost {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.clear_cart {
    background: none;
    border: none;
    color: #77727c;
    padding: 0;
    font-size: 14px;
}

.flex_container {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
}

.flex_space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items_container {
    margin-top: 16px;
}

.btn__container{
    margin-top: 32px;
}