.menu{
    background-color: #fff;
    padding: 24px;
    box-shadow: 0px 0px 30px 0px #0000000F;
    position: absolute;
    top: 0;
    right: 0;
}

.menu__item{
    font-size: 14px;
    line-height: 16px;
    color: #222529;
    margin-bottom: 12px;
    cursor: pointer;
}:last-child{
    margin-bottom: 0;
 }
